[Desktop Entry]
Version=1.1
Type=Application
Name=Pext
GenericName=Tray gadget
Comment=Python-based extensible tool
Exec=pext
Icon=pext
Categories=Utility;Qt;KDE;
Keywords=tray;panel;launcher;radio;weather;emoji;clipboard;
StartupNotify=true
StartupWMClass=Pext
DBusActivatable=false
Terminal=false
NoDisplay=false
Hidden=false
X-KDE-SubstituteUID=false
X-KDE-Username=
